/* $Id:*/

.dgb-view-account {
  margin: 0.25em 0 0 0;
}

#dgb-form-entry-form ul.tips {
  margin: 1em 0 0 0.5em;
}
.meta {
  margin: 0.75em 0 0.5em 0;
}
.dgb-anonymous-poster {
  font-weight: bold;
}
ul.dgb-meta-links {
  margin: 0.5em 0 1em 0;
}
ul.dgb-meta-links.links li {
  padding: 0 0.5em 0 0;
}
.dgb-entry {
  padding-bottom: 15px;
}
.dgb-empty {
  margin: 0.5em 0 0.5em 0;
}
.dgb-entry-unpublished {
  background-color: #FFF4F4;
}
.dgb-entry .picture, .dgb-entry .user-picture {
  float: right;
  margin: 0 0 10px 10px;
}
.dgb-entry .picture img, .dgb-entry .user-picture img {
  background-color: transparent;
  padding: 2px;
  width: 28px;
}
.dgb-comment {
  margin: 0.5em 0 0.5em 1.5em;
}
.dgb-comment-submitted{
  font-size: x-small;
}
.dgb-comment-content p {
  margin-top: 0;
}
.dgb-entry ul {
  margin: 0.75em 0 0.5em 0;
}
ul.dgb-links li, ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
  background-image: none;
  margin-left: 0;
  margin-right: 0;
}
ul.dgb-links li.comment-add.last, ul.inline li.comment-add.last {
  display: inherit;
  margin: 0.25em 0 0 0;
}
.dgb-link-site-dgb {
  margin: 1em 0 0 0;
}
.dgb-link-add-entry, .dgb-link-site-guestbook {
  margin: 1em 0 1em 0;
}
table.table-dgb-list {
  margin: 0 0 1em 0;
}
#dgb-form-entry-form {
  margin: 1em 0 1.5em 0;
}
.confirm-entry-content {
  margin: 1em 0 1em 0;
}
.author-dgb-icon {
  background: url("../img/guestbook16x16.gif") no-repeat scroll 0 0 transparent;
  display: block;
  height: 20px;
  padding-left: 26px;
  width: 100px;
}
